/* Common */
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    scroll-behavior: smooth;
}

hr {
	margin-bottom: 1rem;
}

body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-break: break-all;
    font-family: 'Heebo', sans-serif;
    -ms-overflow-style:none;   
}
body::-webkit-scrollbar { display:none; }

 img {
    width: 100%;
    height: 100%;
}
body a:link {
  color: black;
  text-decoration: none;
}
body a:visited {
  color: black;
  text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.padding-top14 {
  padding-top: 14px;
}
/* Header */
.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    /* background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); */
}
.navbar-fade {
    animation-name: navbar-fade;
    animation-duration: 0.5s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.5s;
}

@keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

@-webkit-keyframes navbar-fade {
    from { opacity: .4}
    to { opacity: 1 }
}

.header-area.navbar-fixed {
    position: fixed;
}

.header-area > .navbar {
  width: calc(100% - 120px);
  margin: 0px 0px 0px 92px;
  overflow: hidden;
}

/* @media (min-width: 992px) {
    .header-area > .navbar {
        max-width: 900px;
        margin: 0 auto;
    }
} */

/* @media (min-width: 1200px) {
    .header-area > .navbar {
        max-width: 1000px;
    }    
} */

.header-area > .navbar > .navbar-brand {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  cursor: pointer;
  margin: 0px 0px 0px -67px;
  top: 49%;
}

.header-area > .navbar > .navbar-toggler * {
  font-size: 32px;
}

.header-area > .navbar > .navbar-toggler {
  float: right;
  height: 70px;
  line-height: 70px;
  font-size: 32px;
  cursor: pointer;
}

@media(min-width: 992px) {
  .header-area > .navbar > .navbar-toggler {
      display: none;
  }
}

.header-area > .navbar > .navbar-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 70px;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
  height: 200px;
}

.header-area > .navbar > .navbar-menu > .nav-item {
  float: none;
  display: block;
  height: 50px;
  line-height: 50px;
}

.header-area > .navbar > .navbar-menu > .nav-item:hover * {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
  display: block;
  padding-left: 50px;
  color: white;
  cursor: pointer;
}

@media (min-width: 992px) {
  .header-area > .navbar > .navbar-menu {
      position: relative;
      background-color: transparent;
      float: right;
      top: 0;
      width: auto;
      height: auto;
      transition: none;
  }

  .header-area > .navbar > .navbar-menu.show {
      height: auto;
  }


  .header-area > .navbar > .navbar-menu > .nav-item {
      display: inline-block;
      height: 79px;
      line-height: 84px;
     /* background-image: url(img/pngwing.com.png); */
      background-size: 117px;
      font-family: math;
  }

  .header-area > .navbar > .navbar-menu > .nav-item:hover {
    text-decoration:underline
  }
  .header-area > .navbar > .navbar-menu > .nav-item:hover * {
      background-color: transparent;
  }

  .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
      display: block;
      padding: 0 13px;
      color: black;
  }
}


/* MainPage */
.test3209 {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #f9f9ff;
  border-radius: 29px;
  margin-bottom: 40px;
}

.wrapper {
  margin: 0px 0px 330px 0px;
}

.content_wrapper{
  height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.content_wrapper > .text_box{
font-size: 2rem;
text-align: center;
}

.content_wrapper > .text_box > .text{
font-size: 2.5rem;
}

.content_wrapper > .text_box > .blink {
animation: blink 0.5s infinite;
font-size: 2.5rem;
}

@keyframes blink { to { opacity: 0;} }

.content_wrapper2{
  height: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_wrapper2 .btn_about{
border: 0;
outline: 0;
width: 150px;
height: 50px;
cursor: pointer;
font-size: 33px;
font-family: ui-serif;
}

/* Section */


.section-container {
	max-width: 1000px;
	margin: 0 auto;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 100px;
}

.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    margin: 0 auto;
    background-image: linear-gradient(to right, royalblue, aquamarine);
}



/* AboutContents */
.AboutContents {
	height: auto;
	position: relative;
}

.AboutContents > .aboutImage {
	display: block;
	text-align: center;
	padding: 20px;
}

@media (min-width: 992px) {
  .AboutContents > .aboutImage {
		width: calc(40% - 40px);
		display: inline-block;
        float: left;
	}
}

.AboutContents > .aboutImage > .name {
	font-size: 25px;
	text-align: center;
	padding: 15px 0;
}

.AboutContents > .aboutImage > .description {
	font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
}


@media (min-width: 992px) {
 .textA {
        padding: 22px 50px;
	}
}

.AboutContents > .aboutImage > .textA * {
	font-size: 16px;
    padding: 65px;
}

.AboutContents > .aboutImage > img {
	border-radius: 15px;
    width: 75%;
}

@media (min-width: 992px) {
	.AboutContents > .text {
		width: calc(60% - 100px);
		display: inline-block;
		padding: 0 50px;
	}
}

/* AboutMe */
.AboutMe {
  display: -webkit-flex;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  clear: both;
}

.AboutMe > .AboutMeInfo {
margin-bottom: 2rem;
width: 33.3333%;
}

.AboutMe > .AboutMeInfo > .AboutMeWrapper {
display: -webkit-flex;
  display: -moz-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row nowrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  opacity: .8;
}

.AboutMe > .AboutMeInfo > .AboutMeWrapper > .AboutMeIcon {
width: 2rem;
  min-width: 2rem;
  height: 2rem;
  margin-top: 0.2rem;
  margin-right: 2rem;
}

.AboutMe > .AboutMeInfo > .AboutMeWrapper > .AboutMeField > .AboutMeLabel {
margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}
.AboutMe > .AboutMeInfo > .AboutMeWrapper > .AboutMeField > .AboutMevalue {
font-weight: 400;
font-size: 1rem;
}

.AboutMe > .AboutMeInfo > .AboutMeWrapper > .AboutMeField > a {
  text-transform: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.AboutMe > .AboutMeInfo > .AboutMeWrapper > .AboutMeField > a:hover {
  color: #f4623a;
}
/* Tmi */



  
 .AboutMeTmiLi div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  .AboutMeTmiLi:nth-child(odd) div {
      transform: translate3d(200px, 0, 0);
    }
    
  .AboutMeTmiLi:nth-child(even) div {
      transform: translate3d(-200px, 0, 0);
      text-align: right;
    }
  .AboutMeTmiLi.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
    width: 95%;
    border-radius: 17px
  }
  .AboutMeTmiLi{
    list-style:none;
  }
  .AboutMeTmiLi.show {
    list-style:none;
  }


 /* 3209 */




  .AboutMeTmiLi > .AboutMeTmiContainer > .MainTitle{
      color: black;
      font-size: 70px;
      font-family: cursive;
      margin: 12px;
  }
  
  .AboutMeTmiLi > .AboutMeTmiContainer > .AboutMeTmiContainerSub{
      background-color: gray;
  }
  
  

  
  @media screen and (max-width: 900px) {
    .AboutMeTmiLi div {
      width: 250px;
    }
    .AboutMeTmiLi:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  
  .AboutMeTmiContainer {
      text-align: center;
  }
  .AboutMeTmiContainer > .AboutMeTmiitem {
      height: auto;
      background-color: white;
      margin: 20px;
      padding: 20px;
      text-align: left;
      transition: all 0.5s ease;
  }
  .AboutMeTmiContainer > .AboutMeTmiitem:hover {
      transform: scale(1.015);
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .AboutMeTmiContainer > .AboutMeTmiitem > .Title {
      font-size: 32px;
      font-weight: bold;
      padding: 10px 0;
  }
  .AboutMeTmiContainer > .AboutMeTmiitem > .MainTitle {
      padding: 10px 0;
      display: inline-block;
      font-size: 32px;
      font-weight: bold;
      padding: 10px 0;
  }
  .AboutMeTmiitem > .skills {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    clear: both;
    TEXT-ALIGN: center;
  }
  .AboutMeTmiitem > .skills > .skillsContents {
    max-width: 14rem;
    margin: 49px;
    opacity: .8;

  }
.Itemcontent {
  text-align: center;
}
  .AboutMeTmiitem > .skills > .certificateContents {
    max-width: 14rem;
    margin: 49px;
    opacity: .8;
    text-align: center;
  }

  .AboutMeTmiitem > .skills > .certificateContents  > .content{
    font-size: 13px;
  }

.certificateContents > img {
  max-width:100%;
  height:auto;
}
.skillsContents > img {
  max-width:100%;
  height:auto;
}

  @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


.demo::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}



.demo a {
  position: absolute;
  bottom: -124px;
  left: 46%;;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

.demo a {
  cursor:pointer;
  padding-top: 70px;
}
.demo a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  font-size: 13px;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


/* Project */
.ProjectContainer {
	height: auto;
	background-color: #f9f9ff;
  border-radius: 29px;
}

.ProjectContainer > .container {
	text-align: center;
}

.ProjectContainer > .container > .item {
	height: auto;
	background-color: white;
	padding: 20px;
	margin: 20px;
	text-align: left;
	transition: all 0.5s ease;
	border-radius: 17px;
}

.ProjectContainer > .container > .item:hover {
	transform: scale(1.015);
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.ProjectContainer > .container > .item > .icon {
	padding: 10px 0;
	display: inline-block;
}

.ProjectContainer > .container > .item > .icon > span > i {
	font-size: 48px;
	color: #aaa;
}

.ProjectContainer > .container > .item > .service {
	font-size: 32px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}

.ProjectContainer > .container > .item > .serviceDate {
	text-align: center;
	color: darkgray;
	margin-bottom: 2rem;
}


.ProjectContainer > .container > .item > .content {
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 1.5px;
	padding: 10px 0;
	margin-bottom: 2rem;
    margin-top: 2rem;
}
.serviceContents {
	margin-bottom: 1rem;
}

.serviceContentsMain {
	display: inline-block;
    vertical-align: top;
    width: 8.4rem;
    font-weight: 900;
    font-size: 1rem;
}

.serviceContentsSub {
	display: inline-block;

}








/* FOOTER AREA */
.footer-area {
	height: auto;
	text-align: center;
	background-color: black;
}

.footer-area * {
	color: white;
}

.footer-area > .sns > .item {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.footer-area > .sns > .item > i {
	font-size: 24px;
}

.footer-area > .info > p {
	font-size: 16px;
	padding: 10px 0;
}
/* 3209  */

.swiper-container {
  width:640px;
  height:420px;
  border:5px solid silver;
  border-radius:7px;
  box-shadow:0 0 20px #ccc inset;
  max-width:100%; 
}
.swiper-slide {
  text-align:center;
  display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
  align-items:center; /* 위아래 기준 중앙정렬 */
  justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
box-shadow:0 0 5px #555;
}

ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
	top: 85%;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}

.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}

.container1 {
  height: 50px;
  width: 200px;
}
*[data-animation="ripple"] {
  height: 100%;
  width: 100%;
  display: block;
  outline: none;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
  box-sizing: border-box;
  text-align: center;
  line-height: 14px;
  font-family: roboto, helvetica;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  /*border-radius: 50px;*/
  -webkit-tap-highlight-color: transparent;
  border-radius: 5px;
}

*[data-animation="ripple"]:focus {
  outline: none;
}

*[data-animation="ripple"]::selection {
  background: transparent;
  pointer-events: none;
}


/* career */


.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
}
.timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  border: 1px solid hotpink;
  right: 40px;
  top: 0;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 700px) {
  .timeline {
    padding: 2rem;
  }
  .timeline:before {
    left: calc(50% - 1px);
    right: auto;
  }
}

.timeline__item {
  padding: 1rem;
  border: 2px solid hotpink;
  border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
  border-image-slice: 1;
  position: relative;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;
}
.timeline__item:after, .timeline__item:before {
  content: "";
  position: absolute;
}
.timeline__item:before {
  right: -10px;
  top: calc(50% - 5px);
  border-style: solid;
  border-color: hotpink hotpink transparent transparent;
  border-width: 10px;
  transform: rotate(45deg);
}
@media screen and (min-width: 700px) {
  .timeline__item {
    width: 42%;
    margin: 1rem;
    font-size: 10px;
  }
  .timeline__item:nth-of-type(2n) {
    float: right;
    margin: 1rem;
    border-image: linear-gradient(to right, hotpink 0%, skyblue 100%);
    border-image-slice: 1;
  }
  .timeline__item:nth-of-type(2n):before {
    right: auto;
    left: -10px;
    border-color: transparent transparent hotpink hotpink;
  }
}

.timeline__item--year {
  text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1.8rem;
  background-color: white;
  line-height: 1;
  border-image: none;
  padding: 0.5rem 1rem 1rem;
}
.timeline__item--year:before {
  display: none;
}
@media screen and (min-width: 700px) {
  .timeline__item--year {
    text-align: center;
    margin: 0 auto;
  }
  .timeline__item--year:nth-of-type(2n) {
    float: none;
    margin: 0 auto;
    border-image: none;
  }
  .timeline__item--year:nth-of-type(2n):before {
    display: none;
  }
}

.timeline__title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.floating {
  position: fixed; 
  right: 50%; 
  top: 180px; 
  margin-right: -720px;
  text-align:center;
  width: 120px;
}